<div class="container mt-5 pt-5">

    <div class="row gy-3">
        <!-- Card do Livro -->
        <div class="col-lg-4 col-md-6">
            <div class="card h-100">
                <img src="/images/{{livros.genero}}_img.jpg" id="img-atualizar" class="card-img-top"
                    alt="Imagem do Livro">
                <div class="card-body">
                    <h5 class="card-title"><b>{{livros.titulo}}</b></h5>
                    <p class="card-text"><b>Autor:</b> {{livros.autor}}</p>
                    <p class="card-text"><b>Editora: </b>{{livros.editora}}</p>
                    <p class="card-text"><b>Gênero:</b> {{livros.genero}}</p>
                    <p class="card-text"><b>Descrição:</b> {{livros.texto}}</p>
                </div>
            </div>
        </div>

        <!-- Formulário de Atualização de Progresso -->
        <div class="col-lg-8 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Atualizar Progresso do Livro</h5>
                    <form action="/livro/atualizarProgresso/{{livros._id}}" method="POST">
                        <div class="mb-3">
                            <label>Atual(%)</label>
                            <div class="progress">
                                <div class="progress-bar bg-dark" style="width:{{livros.progresso}}%">
                                    {{livros.progresso}}%
                                </div>
                            </div>
                        </div>
                        {{#if condicaoLivro}}
                        <div class="mb-3">
                            <label for="novoProgresso" class="form-label">Novo Progresso (%)</label>
                            <input type="number" class="form-control" id="novoProgresso" name="percentual" min="0"
                                max="100" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="comentario" class="form-label">Comentário</label>
                            <textarea class="form-control" id="comentario" name="comentario" rows="3"
                                disabled></textarea>
                        </div>
                        <p class="text-muted">Não é possível adicionar atualizações após a conclusão do livro</p>
                        {{else}}
                        <div class="mb-3">
                            <label for="novoProgresso" class="form-label">Novo Progresso (%)</label>
                            <input type="number" class="form-control" id="novoProgresso" name="percentual" min="0"
                                max="100" required>
                        </div>
                        <div class="mb-3">
                            <label for="comentario" class="form-label">Comentário</label>
                            <textarea class="form-control" id="comentario" name="comentario" rows="3"></textarea>
                        </div>
                        {{#if livros.progresso}}
                        <p></p>
                        {{else}}
                        <div class="mb-3">
                            <label for="data" class="form-label">Data de inicio da leitura</label>
                            <input type="date" class="form-control" id="dataInicio" name="dataInicio" required>
                        </div>
                        {{/if}}
                        <button type="submit" class="btn btn-sm btn-outline-dark">Salvar Atualização</button>
                        {{/if}}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Adicionar resenha</h5>
                    {{#if condicao}}
                    <br>
                    <p class="text-muted">Resenha já criada. É possível criar apenas uma resenha por livro.</p>
                    <button type="button" class="btn btn-outline-dark">Ver Resenha</button>
                    {{else}}
                    <p class="text-muted"> Ao adicionar uma resenha, não é possível
                        realizar
                        atualizações de leitura.</p>
                    <form action="/livro/criarResenha/{{livros._id}}" method="POST">
                        <div class="estrela-options">
                            <!-- Estrelas de avaliação -->
                            <input type="radio" class="btn-check" name="estrela" id="estrela1" value="5">
                            <label class="estrela-label" for="estrela1">&#9733;</label>
                            <input type="radio" class="btn-check" name="estrela" id="estrela2" value="4">
                            <label class="estrela-label" for="estrela2">&#9733;</label>
                            <input type="radio" class="btn-check" name="estrela" id="estrela3" value="3">
                            <label class="estrela-label" for="estrela3">&#9733;</label>
                            <input type="radio" class="btn-check" name="estrela" id="estrela4" value="2">
                            <label class="estrela-label" for="estrela4">&#9733;</label>
                            <input type="radio" class="btn-check" name="estrela" id="estrela5" value="1">
                            <label class="estrela-label" for="estrela5">&#9733;</label>
                        </div>
                        <label for="titulo_resenha" class="form-label">Titulo</label>
                        <input type="text" class="form-control" id="titulo" name="titulo_resenha">
                        <div class="mb-3 pt-3">
                            <label for="resenha" class="form-label">Resenha</label>
                            <textarea class="form-control" id="comentario" name="resenha" rows="3"></textarea>
                        </div>
                        {{#if condicaoData}}
                        <div class="mb-3">
                            <label for="data" class="form-label">Data de inicio da leitura</label>
                            <input type="date" class="form-control" id="dataInicio" name="dataInicio" required>
                        </div>
                        {{/if}}
                        <div class="mb-3">
                            <label for="data" class="form-label">Data de término da leitura</label>
                            <input type="date" class="form-control" id="dataFim" name="dataFim" required>
                        </div>
                        <div class="mb-3">
                            <div class="form-check form-check-inline">
                                <input class="tag-check" type="radio" name="tag" id="lido" value="lido" required />
                                <label class="tag-label" for="lido"><i class="bi bi-bookmark-check-fill">
                                        Lido</i></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="tag-check" type="radio" name="tag" id="abandonei" value="abandonado"
                                    required />
                                <label class="tag-label" for="abandonei"><i class="bi bi-bookmark-x-fill"></i>
                                    Abandonado</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark">Enviar Resenha</button>
                    </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>