<div class="container mt-6 pt-5 ">
    <h2>Consulta</h2>
    <div class="card mb-3" style="border: 1px solid var(--cor-primaria);">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/images/{{livro.genero}}_img.jpg" class="img-fluid rounded-start" id="img-consulta"
                    alt="Imagem do Livro">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{livro.titulo}}</h5>

                    <p class="card-text"><strong>Autor:</strong> {{livro.autor}}</p>
                    <p class="card-text"><strong>Gênero:</strong> {{livro.genero}}</p>
                    <p class="card-text"><strong>Editora:</strong> {{livro.editora}}</p>
                    {{#if dataFimV}}
                    <p class="card-text"><strong>Fim da Leitura:</strong> {{dtF}}</p>
                    {{else}}
                    {{#if dataInicioV}}
                    <p class="card-text"><strong>Início da Leitura:</strong> {{dt}}</p>
                    {{else}}
                    <p class="card-text"><b>Não lido</b></p>
                    {{/if}}
                    {{/if}}

                    <p class="card-text">{{livro.texto}}</p>
                    <p class="card-text">Progresso:</p>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-dark" role="progressbar" style="width:{{livro.progresso}}%;">
                            {{livro.progresso}}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Atualizações de Leitura</h2>

    
    {{#each livro.progressoHistorico}}
    {{#if this.percentual}}
    <div class="card mb-2" style="border: 1px solid var(--cor-primaria);" id="#atualizacoes">
        <div class="card-body">
            <div class="progress mb-2">
                <div class="progress-bar bg-dark" role="progressbar" style="width: {{this.percentual}}%;">
                    {{this.percentual}}%
                </div>
            </div>
            <br>
            <p class="card-text" id="comentario">{{this.comentario}}</p>
            <p class="card-text"><small class="text-muted">Publicado em: {{data}}</small></p>
        </div>
    </div>
    {{else}}
    {{/if}}
    {{/each}}

    {{#if condicao}}
    <p class="text-center text-muted">Você não registrou atualizações para esse livro.</p>
    {{else}}
    <p class="text-center text-muted">Você ainda não adicionou atualizações de leitura</p>
    <p class="text-center"><a class="btn btn-sm btn-outline-dark"
            href="/livro/atualizarProgresso/{{livro._id}}">Adicionar Atualizações</a></p>
    {{/if}}

    <h2>Resenha</h2>
    {{#if livro.resenha}}
    {{#each livro.resenha}}
    <div class="card mb-2" style="border: 1px solid var(--cor-primaria);" id="#resenha">
        <div class="card-body">
            {{#if qntE}}
            {{#each qntE}}
            <h4 class="card-text" style="display: inline-flex;" id="estrelas">&#9733;</h4>
            {{/each}}
            {{/if}}
            <h4 class="card-text" id="titulo">{{this.titulo_resenha}}</h4>
            <p class="card-text" id="comentario">{{this.resenha}}</p>
            <p class="card-text"><small class="text-muted">Término da leitura: {{this.dataFim}}</small></p>
        </div>
    </div>
    {{/each}}
    {{else}}
    <p class="text-center text-muted">Você ainda não adicionou uma resenha a este livro.</p>
    <p class="text-center"><a class="btn btn-sm btn-outline-dark" href="/livro/criarResenha/{{livro._id}}">Adicionar
            Resenha</a></p>
    {{/if}}
</div>